<!DOCTYPE html>
<html data-ng-app="">
<head>
	<title>Using AngularJS Directives and Data Binding</title>
</head>
<body>
	Name: <br/>
	<input type="text" data-ng-model="name" /> {{ name }}
		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">{{ cust.name |uppercase }} - {{ cust.city |lowercase }}</li>
		</ul>
	<div class="container" data-ng-init="names=['Dave','Napur','Heedy','Shriva']">
		<h3>Looping with the ng-repeat Directives</h3>
		<ul>
			<li data-ng-repeat="name in names">{{ name }}</li>
		</ul>
	</div>
	<div class="container" data-ng-controller="SimpleController">
		<h3>Adding a Simple Controller</h3>
		<ul>
			<li data-ng-repeat="cust in customers">
				{{ cust.name }} - {{ cust.city }}
			</li>
		</ul>
	</div>
	<script src="angular.min.js"></script>
	<script>
		function SimpleController($scope) {
			$scope.customers = [
				{ name: 'Danica Pacana', city: 'Cagayan de Oro City' },
				{ name: 'John Daniel Tupas', city: 'Cavite City' },
				{ name: 'Sir Cross Abarintos', city: 'Cebu City' },
				{ name: 'Christian Pacana', city: 'Malaybalay City' },
			];
		}
	</script>
</body>
</html>